<%- include ('partials/header') %>
<%- include ('partials/navbar') %>
<!--Début de la section About-->
<div class="container my-5 about d-flex flex-column" id="about">
    <img src="images/profile_pic_mixed.png" class="rounded mx-auto d-block something" alt="walter clayton profile picture">
    <a class="btn background-mud mx-auto" href="/documents/cv.pdf" download>Download CV</a>
    <section class="mx-auto pt-5">
            <p class="text-center">
                <span>Sport and excercise scientist,</span>
                <span>and self-taught software engineer.</span>
            </p>
            <!-- <div class="d-flex justify-content-between">
                <span class="material-icons md-18">favorite</span>
                <span class="material-icons md-18">fitness_center</span>
                <span class="material-icons md-18">biotech</span>
                <span class="material-icons md-18">psychology</span>
                <span class="material-icons md-18">developer_mode</span>
                <span class="material-icons md-18">lightbulb</span>
            </div> -->
    </section>
    <section class="mx-auto">
        <h4 class="h4 text-center">SKILLS</h4>
        <p class="text-center">
            <span>Frontend at heart</span>
            <span>with keen interests in UI and UX design.</span><br>
            <span>Digs into backend tools when required.</span>
        </p>
            <div class="d-flex justify-content-between flex-column">
                <div class="d-sm-none">
                    <div class="d-flex">
                        <% skillData[0].forEach(function(item, index){ %>               
                            <img src="<%= item.image %>" class="height-18 w-32 m-5" alt="<%= item.name %>" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <% }) %>
                    </div>
                    <div class="d-flex">
                        <% skillData[1].forEach(function(item, index){ %>               
                            <img src="<%= item.image %>" class="height-18 w-32 m-5" alt="<%= item.name %>" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <% }) %>
                    </div>
                    <div class="d-flex">
                        <% skillData[2].forEach(function(item, index){ %>               
                            <img src="<%= item.image %>" class="height-18 w-32 m-5" alt="<%= item.name %>" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <% }) %>
                    </div>
                    <div class="d-flex">
                        <% skillData[3].forEach(function(item, index){ %>               
                            <img src="<%= item.image %>" class="height-18 w-32 m-5" alt="<%= item.name %>" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        <% }) %>
                    </div>
                </div>
            </div>
    </section>
    <section class="mx-auto">
        <h4 class="h4 text-center">Favorite quotes</h4>
        <div class="text-center">
            <p class="text-center">
                <span class="text-center">“Rule of thumb for UX: More options, more problems.”</span>
            </p>
            <p class="text-center">
                <span class="text-center"> "Do the minimum to get your foot just over the line."</span>
            </p>
        </div>
    </section>
</div>
<%- include ('partials/footer') %>