
<%- include ('partials/navbar') %>
<%- include ('partials/header') %>
<div class="container mt-sm-5">
   <span> <% cardData[0] %> </span>
   <script> console.log(cardData[0]) </script>
  <div class="p-5 row background-mud justify-content-around border-radius-30-sm border-radius-30">
        <div class="align-self-center col-md-6 col-12 w-max-lg-400">
            <h1 class="h1 text-center text-md-start text-white">Portfolio</h1>
            <p class="text-center text-md-start text-white">Discover the code and live demos</p>
        </div>
      <div class="align-self-center col-md-6 col-12">
          <svg id="sitting-guy" width="406" height="306" viewBox="0 0 406 306" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.24" d="M348.268 200.464C339.18 213.497 326.433 223.526 316.351 235.851C301.549 253.921 291.972 277.382 271.929 289.436C262.45 295.128 251.48 297.673 240.729 300.142C223.449 304.118 205.545 308.093 188.13 304.735C174.781 302.168 162.666 295.437 150.8 288.796L141.411 283.525C139.341 282.351 137.248 281.199 135.155 280.024L129.056 276.606C111.152 266.517 93.3604 255.991 78.272 242.085C61.4594 226.65 48.0951 206.337 45.3169 183.651C42.0944 157.435 54.4271 129.901 76.1262 114.835C88.0298 106.553 102.222 101.945 113.915 93.354C132.369 79.8016 142.526 58.1251 155.197 39.0839C178.681 3.77967 223.841 -13.1158 261.87 11.9789C276.65 21.7217 287.831 36.1927 296.045 51.8835C302.987 65.1122 308.092 79.4628 317.323 91.2082C327.864 104.625 343.208 113.916 352.431 128.274C366.247 149.762 362.904 179.488 348.268 200.464Z" fill="#F9AA8F" />
              <path opacity="0.42" d="M153.21 280.8C152.103 282.012 153.917 283.699 155.468 284.286C165.588 288.158 176.331 290.149 187.166 290.159L185.322 293.298C202.305 298.014 220.241 298.108 237.273 293.569L234.653 289.504L249.869 288.751C252.286 288.638 260.764 289.632 262.367 287.486C266.983 281.304 248.198 281.063 246.18 280.981C226.137 280.142 206.082 279.819 186.014 280.009C180.543 280.06 175.072 280.147 169.601 280.273C167.011 280.363 154.821 279.083 153.21 280.8Z" fill="#F9AA8F" />
              <path d="M238.756 225.092C238.349 233.123 237.865 241.169 237.303 249.23C237.136 253.305 236.607 257.356 235.722 261.337C235.128 263.704 234.29 266.002 233.222 268.196C232.763 269.137 232.108 270.161 231.076 270.267C229.774 270.402 228.87 269.009 228.403 267.782C226.077 261.759 226.077 255.163 225.926 248.718C225.841 245.385 225.708 242.05 225.527 238.712C225.309 234.684 224.872 230.324 222.147 227.343C221.318 226.439 220.31 225.702 219.496 224.775C216.176 221.011 217.17 214.664 220.746 211.118C223.525 208.369 231.588 204.74 235.481 207.014C240.104 209.71 238.974 220.747 238.756 225.092Z" fill="#606161" />
              <path d="M215.446 211.306C216.61 213.151 217.156 215.319 217.004 217.495C216.816 224.038 212.931 229.827 210.981 236.084C208.06 245.533 209.686 255.66 209.98 265.576C210.115 266.941 209.946 268.32 209.483 269.612C209.237 270.252 208.802 270.802 208.236 271.19C207.669 271.577 206.999 271.783 206.313 271.78C205.319 271.595 204.425 271.061 203.791 270.274C199.002 265.154 199.16 257.347 198.37 250.39C197.481 242.642 195.079 235.158 193.031 227.636C192.105 224.241 191.239 220.762 191.458 217.254C191.676 213.745 193.152 210.139 196.051 208.151C201.313 204.552 211.689 205.922 215.446 211.306Z" fill="#606161" />
              <path class="appear-one" opacity="0.52" d="M90.7629 140.758H173.026C178.075 140.758 182.167 136.665 182.167 131.617V39.0387C182.167 33.9906 178.075 29.8983 173.026 29.8983L90.7629 29.8983C85.7148 29.8983 81.6225 33.9906 81.6225 39.0387L81.6225 131.617C81.6225 136.665 85.7148 140.758 90.7629 140.758Z" fill="#F9AA8F" />
              <path class="appear-one" d="M90.7629 140.758H173.026C178.075 140.758 182.167 136.665 182.167 131.617V39.0387C182.167 33.9906 178.075 29.8983 173.026 29.8983L90.7629 29.8983C85.7148 29.8983 81.6225 33.9906 81.6225 39.0387L81.6225 131.617C81.6225 136.665 85.7148 140.758 90.7629 140.758Z" fill="url(#paint0_linear)" />
              <path class="appear-two" opacity="0.52" d="M248.913 119.375L343.238 119.375C348.045 119.375 351.942 115.478 351.942 110.671V59.5556C351.942 54.7487 348.045 50.8519 343.238 50.8519L248.913 50.8519C244.106 50.8519 240.209 54.7487 240.209 59.5556V110.671C240.209 115.478 244.106 119.375 248.913 119.375Z" fill="#F9AA8F" />
              <path class="appear-two" d="M248.913 119.375L343.238 119.375C348.045 119.375 351.942 115.478 351.942 110.671V59.5556C351.942 54.7487 348.045 50.8519 343.238 50.8519L248.913 50.8519C244.106 50.8519 240.209 54.7487 240.209 59.5556V110.671C240.209 115.478 244.106 119.375 248.913 119.375Z" fill="url(#paint1_linear)" />
              <path class="appear-three" opacity="0.52" d="M220.069 69.321L279.331 69.321C282.349 69.321 284.797 66.8738 284.797 63.8549V31.7355C284.797 28.7166 282.349 26.2693 279.331 26.2693L220.069 26.2693C217.05 26.2693 214.602 28.7166 214.602 31.7355V63.8549C214.602 66.8738 217.05 69.321 220.069 69.321Z" fill="#F9AA8F" />
              <path opacity="0.52" d="M125.721 200.411L295.646 200.411V192.265L125.721 192.265V200.411Z" fill="#F9AA8F" />
              <path d="M158.887 181.784L270.04 181.784C275.262 181.784 279.496 177.55 279.496 172.327V95.2212C279.496 89.9985 275.262 85.7646 270.04 85.7646L158.887 85.7646C153.664 85.7646 149.43 89.9985 149.43 95.2212V172.327C149.43 177.55 153.664 181.784 158.887 181.784Z" fill="#F9AA8F" />
              <path class="appear-first" d="M158.887 181.784L270.04 181.784C275.262 181.784 279.496 177.55 279.496 172.327V95.2212C279.496 89.9985 275.262 85.7646 270.04 85.7646L158.887 85.7646C153.664 85.7646 149.43 89.9985 149.43 95.2212V172.327C149.43 177.55 153.664 181.784 158.887 181.784Z" fill="url(#paint3_linear)" />
              <g class="screen-writing-scroll">
                  <path class="writing-first-1" d="M191.36 100.8H165.422V102.705H191.36V100.8Z" fill="url(#paint4_linear)" />
                  <path class="writing-first-2" d="M181.256 104.482H165.422V106.267H181.256V104.482Z" fill="url(#paint5_linear)" />
                  <path class="writing-first-3" d="M237.461 104.482H187.641V106.282H237.461V104.482Z" fill="url(#paint6_linear)" />
                  <path class="writing-first-4" d="M270.16 104.482H242.121V106.282H270.16V104.482Z" fill="url(#paint7_linear)" />
                  <path class="writing-first-5" d="M195.426 108.179H173.659V110.061H195.426V108.179Z" fill="url(#paint8_linear)" />
                  <path class="writing-first-6" d="M206.584 111.853H180.646V113.758H206.584V111.853Z" fill="url(#paint9_linear)" />
                  <path class="writing-first-7" d="M230.022 111.853H208.278V113.969H230.022V111.853Z" fill="url(#paint10_linear)" />
                  <path class="writing-first-8" d="M200.636 115.535H180.608V117.319H200.636V115.535Z" fill="url(#paint11_linear)" />
                  <path class="writing-first-9" d="M243.891 115.535H202.556V117.515H243.891V115.535Z" fill="url(#paint12_linear)" />
                  <path class="writing-first-10" d="M191.36 120.519H165.422V122.424H191.36V120.519Z" fill="url(#paint13_linear)" />
                  <path class="writing-first-11" d="M181.256 124.201H165.422V125.985H181.256V124.201Z" fill="url(#paint14_linear)" />
                  <path class="writing-first-12" d="M237.461 124.201H187.641V126H237.461V124.201Z" fill="url(#paint15_linear)" />
                  <path class="writing-first-13" d="M270.16 124.201H242.121V126H270.16V124.201Z" fill="url(#paint16_linear)" />
                  <path class="writing-first-14" d="M195.426 127.883H173.659V129.765H195.426V127.883Z" fill="url(#paint17_linear)" />
                  <path class="writing-first-15" d="M206.584 131.572H180.646V133.477H206.584V131.572Z" fill="url(#paint18_linear)" />
                  <path class="writing-first-16" d="M230.022 131.572H208.278V133.688H230.022V131.572Z" fill="url(#paint19_linear)" />
                  <path class="writing-first-17" d="M200.636 135.254H180.608V137.038H200.636V135.254Z" fill="url(#paint20_linear)" />
                  <path class="writing-first-18" d="M243.891 135.254H202.556V137.234H243.891V135.254Z" fill="url(#paint21_linear)" />
                  <path class="writing-first-19" d="M191.36 140.23H165.422V142.135H191.36V140.23Z" fill="url(#paint22_linear)" />
                  <path class="writing-first-20" d="M181.256 143.912H165.422V145.697H181.256V143.912Z" fill="url(#paint23_linear)" />
                  <path class="writing-first-21" d="M237.461 143.912H187.641V145.712H237.461V143.912Z" fill="url(#paint24_linear)" />
                  <path class="writing-first-22" d="M270.16 143.912H242.121V145.712H270.16V143.912Z" fill="url(#paint25_linear)" />
                  <path class="writing-first-23" d="M195.426 147.594H173.659V149.476H195.426V147.594Z" fill="url(#paint26_linear)" />
                  <path class="writing-first-24 d=" M206.584 151.276H180.646V153.181H206.584V151.276Z" fill="url(#paint27_linear)" />
                  <path class="writing-first-25" d="M230.022 151.276H208.278V153.392H230.022V151.276Z" fill="url(#paint28_linear)" />
                  <path class="writing-first-26" d="M200.636 154.965H180.608V156.749H200.636V154.965Z" fill="url(#paint29_linear)" />
                  <path class="writing-first-27" d="M243.891 154.965H202.556V156.945H243.891V154.965Z" fill="url(#paint30_linear)" />
              </g>
              <path d="M245.766 186.987C246.3 188.493 246.805 190.074 246.473 191.625C246.354 192.161 246.137 192.672 245.833 193.13C244.328 195.465 240.759 195.826 238.304 194.425C235.85 193.025 234.464 190.345 233.787 187.649C233.52 186.746 233.43 185.8 233.523 184.863C233.742 183.23 234.826 181.852 235.955 180.647C237.461 179.081 240.224 177.033 242.25 178.915C244.072 180.602 244.96 184.735 245.766 186.987Z" fill="url(#paint31_linear)" />
              <path d="M184.185 186.535C183.855 187.157 183.702 187.857 183.74 188.56C183.832 189.012 184.011 189.442 184.267 189.825C184.901 190.962 185.747 191.967 186.76 192.784C187.781 193.603 189.075 194.004 190.381 193.906C192.309 193.695 193.837 192.167 194.861 190.518C195.925 188.951 196.485 187.096 196.465 185.202C196.406 184.204 196.127 183.232 195.648 182.355C195.169 181.477 194.502 180.717 193.694 180.128C192.241 179.074 189.214 178.117 187.573 179.322C185.931 180.527 185.005 184.592 184.185 186.535Z" fill="url(#paint32_linear)" />
              <path d="M228.652 131.233C228.919 131.156 229.201 131.141 229.475 131.189C229.749 131.237 230.008 131.348 230.233 131.512C230.547 131.87 230.73 132.324 230.752 132.799C230.944 133.758 230.982 134.742 230.865 135.713C230.739 136.678 230.266 137.564 229.533 138.205C228.962 138.625 228.319 138.937 227.635 139.124C227.122 139.357 226.538 139.378 226.009 139.184C225.778 139.027 225.586 138.82 225.445 138.58C225.304 138.339 225.219 138.069 225.196 137.791C224.601 134.877 225.512 131.805 228.652 131.233Z" fill="url(#paint33_linear)" />
              <path d="M201.238 130.224C200.939 130.149 200.626 130.149 200.327 130.224C200.001 130.378 199.725 130.622 199.533 130.928C199.341 131.233 199.24 131.588 199.243 131.949C199.194 132.657 199.24 133.368 199.378 134.064C199.508 135.229 199.986 136.329 200.749 137.219C201.133 137.647 201.65 137.934 202.217 138.032C202.784 138.13 203.367 138.035 203.873 137.761C207.073 135.547 204.062 130.842 201.238 130.224Z" fill="url(#paint34_linear)" />
              <path d="M221.507 151.268C221.655 151.95 221.696 152.652 221.627 153.346C221.349 155.274 219.429 156.621 217.501 156.862C215.574 157.103 213.646 156.456 211.847 155.741C211.294 155.554 210.783 155.263 210.341 154.882C209.9 154.421 209.599 153.844 209.475 153.218C209.259 152.133 209.193 151.024 209.279 149.921L209.4 146.035C209.363 145.275 209.513 144.518 209.836 143.829C210.589 142.542 212.314 142.324 213.812 142.226C215.777 142.143 218.736 142.226 220.031 144.018C221.326 145.81 221.175 149.183 221.507 151.268Z" fill="url(#paint35_linear)" />
              <path d="M227.56 119.555C228.145 121.195 228.351 122.945 228.163 124.675C227.995 128.67 227.577 132.651 226.913 136.594C226.416 139.553 225.633 142.73 223.291 144.597C222.622 145.048 221.99 145.551 221.401 146.103C220.995 146.54 220.709 147.082 220.332 147.556C218.427 149.943 214.587 149.943 211.967 148.354C209.347 146.766 207.668 144.04 206.132 141.39C204.438 138.469 202.759 135.412 202.458 132.046C202.21 129.381 202.834 126.573 201.818 124.095C201.065 122.273 202.092 119 202.458 117C203.098 113.5 203.059 114.234 203.5 113C205 111 204.5 110.5 206.132 109.5C206.132 111 208.821 111.947 210.5 112C212.638 112.075 213.467 108.822 215.5 109.5C217.792 111.793 221.401 112.523 223.291 109.5C225.896 110.479 226.348 116.785 227.56 119.555Z" fill="#606161" />
              <path d="M241 156.606C233.366 150.274 218 153.309 207.728 153.309C203.5 153.309 193 152 189 155C182.5 158.675 182.5 164 184.5 172C185.5 176 187.027 176.913 189 180C191.5 182.5 192 184 195.034 188.5C195.613 188.513 196.179 188.676 196.676 188.974C197.196 189.457 197.523 190.113 197.594 190.819C198.648 196.315 196.51 202.489 199.333 207.315C202.066 211.976 208.173 213.203 213.556 213.617C220.52 214.152 228.072 213.956 233.727 209.853C234.664 209.222 235.462 208.405 236.068 207.451C237.002 205.855 237.054 203.912 237.077 202.068C237.137 198.047 235.669 189.961 237.627 186.414C239.268 183.463 241.359 180.873 243 177.5C246.11 171.085 245.676 160.476 241 156.606Z" fill="white" />
              <path d="M208.572 209.378L208.624 217.939C208.662 218.269 208.599 218.602 208.444 218.895C208.193 219.204 207.83 219.402 207.435 219.445C205.116 219.987 202.691 219.678 200.312 219.686C197.933 219.693 195.365 220.115 193.656 221.779C196.254 223.699 199.604 224.226 202.819 224.602C207.578 225.169 212.346 225.546 217.125 225.732C220.222 225.96 223.336 225.798 226.393 225.25C229.081 224.71 231.6 223.535 233.741 221.824C231.641 219.565 228.162 219.61 225.09 219.61C222.102 219.609 219.115 219.438 216.146 219.098C215.81 219.103 215.477 219.039 215.168 218.909C214.858 218.779 214.579 218.588 214.346 218.345C214.096 217.899 213.996 217.385 214.06 216.877C214.117 214.976 214.357 213.085 214.776 211.23C214.865 210.618 215.111 210.04 215.491 209.551C216.162 208.978 217.004 208.645 217.885 208.603C221.371 208.022 224.789 207.088 228.087 205.817C229.445 205.367 230.709 204.67 231.814 203.762C234.781 201.066 234.653 196.421 233.967 192.468C228.508 195.637 222.343 197.392 216.033 197.573C211.719 197.693 202.36 195.841 199.326 199.997C197.82 202.098 199.424 204.04 201.088 205.493C201.81 206.111 208.572 209.295 208.572 209.378Z" fill="url(#paint36_linear)" />
              <path d="M224.029 170.475H206.109C199.128 170.475 193.468 176.135 193.468 183.117V188.455C193.468 195.436 199.128 201.096 206.109 201.096H224.029C231.011 201.096 236.67 195.436 236.67 188.455V183.117C236.67 176.135 231.011 170.475 224.029 170.475Z" fill="#F9AA8F" />
              <path d="M224.029 170.475H206.109C199.128 170.475 193.468 176.135 193.468 183.117V188.455C193.468 195.436 199.128 201.096 206.109 201.096H224.029C231.011 201.096 236.67 195.436 236.67 188.455V183.117C236.67 176.135 231.011 170.475 224.029 170.475Z" fill="url(#paint37_linear)" />
              <path d="M224.029 173.291H206.109C199.128 173.291 193.468 178.951 193.468 185.932V191.271C193.468 198.252 199.128 203.912 206.109 203.912H224.029C231.011 203.912 236.67 198.252 236.67 191.271V185.932C236.67 178.951 231.011 173.291 224.029 173.291Z" fill="#F9AA8F" />
              <path d="M221.718 190.194C220.424 190.767 219.063 191.172 217.667 191.399C213.902 192.091 209.505 191.941 206.795 189.208C206.37 188.792 206.025 188.302 205.778 187.762C205.025 185.932 206.012 183.726 207.63 182.567C209.249 181.407 211.305 181.099 213.285 181.001C215.709 180.88 220.317 180.466 222.433 182.1C224.963 184.058 224.571 188.854 221.718 190.194Z" fill="url(#paint38_linear)" />
              <path d="M214.346 234.164H214.354C215.98 234.164 217.298 232.846 217.298 231.22V188.44C217.298 186.814 215.98 185.496 214.354 185.496H214.346C212.721 185.496 211.403 186.814 211.403 188.44V231.22C211.403 232.846 212.721 234.164 214.346 234.164Z" fill="white" />
              <path d="M232.484 268.076C233.99 269.318 234.366 271.471 235.029 273.346C235.948 275.906 237.649 278.232 237.875 280.943C237.974 281.747 237.84 282.562 237.491 283.292C237.154 283.857 236.675 284.324 236.102 284.646C235.529 284.969 234.881 285.135 234.223 285.129C232.906 285.102 231.621 284.711 230.512 284C228.549 282.831 226.929 281.167 225.813 279.174C225.244 278.198 224.88 277.117 224.744 275.996C224.435 272.601 227.959 264.462 232.484 268.076Z" fill="#F9AA8F" />
              <path d="M235.293 282.441C235.399 282.639 235.454 282.86 235.454 283.085C235.454 283.31 235.399 283.531 235.293 283.729C235.119 283.915 234.889 284.039 234.638 284.083C233.6 284.283 232.525 284.087 231.626 283.533C230.738 282.989 229.923 282.333 229.201 281.583C228.084 280.602 227.095 279.484 226.258 278.255C225.419 277.006 225.078 275.489 225.301 274.001C226.099 269.92 229.698 273.579 231.024 275.085C232.915 277.234 234.365 279.733 235.293 282.441Z" fill="#606161" />
              <path d="M203.008 268.158C201.502 269.401 201.125 271.554 200.463 273.429C199.544 275.989 197.843 278.323 197.617 281.026C197.518 281.832 197.652 282.649 198.001 283.382C198.338 283.946 198.818 284.411 199.391 284.732C199.964 285.053 200.611 285.219 201.268 285.212C202.587 285.189 203.872 284.797 204.98 284.083C206.944 282.916 208.565 281.251 209.678 279.256C210.249 278.282 210.613 277.2 210.748 276.079C211.049 272.683 207.525 264.514 203.008 268.158Z" fill="#F9AA8F" />
              <path d="M199.815 282.735C199.711 282.933 199.656 283.154 199.656 283.379C199.656 283.603 199.711 283.824 199.815 284.022C199.992 284.209 200.224 284.333 200.478 284.376C201.515 284.569 202.587 284.373 203.489 283.827C204.373 283.279 205.185 282.624 205.906 281.877C207.028 280.895 208.02 279.774 208.858 278.541C209.695 277.294 210.036 275.78 209.814 274.295C209.008 270.206 205.417 273.866 204.084 275.379C202.195 277.529 200.744 280.028 199.815 282.735Z" fill="#606161" />
              <path d="M219.142 250.156C217.93 250.733 216.59 250.992 215.25 250.909C213.766 250.994 212.278 250.886 210.823 250.586C210.332 250.489 209.872 250.274 209.483 249.961C209.157 249.663 208.901 249.298 208.73 248.891C207.502 246.181 206.117 240.564 208.022 238.283C210.198 235.663 218.834 235.203 221.574 237.952C224.232 240.527 222.305 248.297 219.142 250.156Z" fill="#F9AA8F" />
              <path d="M219.142 250.156C217.93 250.733 216.59 250.992 215.25 250.909C213.766 250.994 212.278 250.886 210.823 250.586C210.332 250.489 209.872 250.274 209.483 249.961C209.157 249.663 208.901 249.298 208.73 248.891C207.502 246.181 206.117 240.564 208.022 238.283C210.198 235.663 218.834 235.203 221.574 237.952C224.232 240.527 222.305 248.297 219.142 250.156Z" fill="url(#paint39_linear)" />
              <path d="M213.149 275.627H217.079V250.269H213.149V275.627Z" fill="white" />
              <path d="M230.655 277.736C231.528 278.451 232.379 279.347 233.501 279.482C234.314 279.573 235.127 279.226 235.955 279.226C237.045 279.303 238.073 279.765 238.854 280.529C239.592 281.113 240.146 281.897 240.45 282.788C241.06 284.866 239.208 287.14 237.047 287.35C234.886 287.561 232.808 286.085 231.859 284.143C231.655 283.611 231.387 283.105 231.061 282.637C230.749 282.301 230.385 282.017 229.984 281.794C226.787 279.811 223.26 278.416 219.572 277.675C218.932 277.547 218.149 277.487 217.742 277.992C217.545 278.28 217.438 278.621 217.433 278.97C217.267 280.47 217.199 281.979 217.23 283.488C217.21 283.778 217.265 284.068 217.388 284.331C217.584 284.602 217.823 284.839 218.096 285.031C218.531 285.494 218.804 286.085 218.875 286.717C218.946 287.348 218.81 287.985 218.487 288.532C217.806 289.612 216.762 290.413 215.544 290.791C214.098 291.326 212.276 291.416 211.199 290.309C210.819 289.881 210.565 289.357 210.465 288.793C210.366 288.229 210.424 287.649 210.635 287.117C211.068 286.054 211.87 285.183 212.893 284.662C213.249 284.528 213.558 284.292 213.782 283.985C213.906 283.701 213.953 283.389 213.917 283.081L213.812 279.723C213.844 279.467 213.814 279.207 213.725 278.965C213.636 278.722 213.49 278.505 213.3 278.33C212.999 278.174 212.654 278.123 212.321 278.187C206.787 278.614 201.488 280.601 197.037 283.917C197.85 284.549 197.707 285.92 196.977 286.643C196.172 287.306 195.139 287.625 194.101 287.531C192.959 287.543 191.84 287.215 190.886 286.59C190.408 286.278 190.018 285.848 189.754 285.341C189.491 284.835 189.362 284.269 189.38 283.699C189.456 283.121 189.682 282.572 190.035 282.108C190.387 281.643 190.854 281.278 191.39 281.048C192.467 280.597 193.652 280.469 194.801 280.68C195.392 280.805 195.997 280.853 196.6 280.823C197.277 280.682 197.921 280.414 198.498 280.032C203.712 277.088 209.496 275.291 215.461 274.762C220.46 274.317 226.611 274.423 230.655 277.736Z" fill="white" />
              <path class="appear-five" d="M278.465 176.371H326.026C330.609 176.371 334.323 172.656 334.323 168.073V137.091C334.323 132.509 330.609 128.794 326.026 128.794H278.465C273.882 128.794 270.168 132.509 270.168 137.091V168.073C270.168 172.656 273.882 176.371 278.465 176.371Z" fill="white" />
              <path class="appear-four" d="M92.3817 180.308H150.078C154.514 180.308 158.111 176.712 158.111 172.275V161.282C158.111 156.845 154.514 153.249 150.078 153.249H92.3817C87.9448 153.249 84.3481 156.845 84.3481 161.282V172.275C84.3481 176.712 87.9448 180.308 92.3817 180.308Z" fill="white" />
              <path d="M191.608 240.858H235.556C240.775 240.858 245.005 236.627 245.005 231.409V230.814C245.005 225.595 240.775 221.365 235.556 221.365H191.608C186.39 221.365 182.159 225.595 182.159 230.814V231.409C182.159 236.627 186.39 240.858 191.608 240.858Z" fill="#F9AA8F" />
              <path d="M191.608 240.858H235.556C240.775 240.858 245.005 236.627 245.005 231.409V230.814C245.005 225.595 240.775 221.365 235.556 221.365H191.608C186.39 221.365 182.159 225.595 182.159 230.814V231.409C182.159 236.627 186.39 240.858 191.608 240.858Z" fill="url(#paint40_linear)" />
              <defs>
                  <linearGradient id="paint0_linear" x1="133.288" y1="116.205" x2="127.987" y2="-1.07668" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.95" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint1_linear" x1="47256.2" y1="7959.75" x2="57751.6" y2="10537.6" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.95" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint2_linear" x1="25063.4" y1="-780.943" x2="25109.9" y2="5407.89" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.95" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint3_linear" x1="40719.7" y1="25064.2" x2="40053.4" y2="5384.52" gradientUnits="userSpaceOnUse">
                      <stop offset="0.95" stop-color="white" />
                      <stop offset="1" stop-color="#F9AA8F" />
                  </linearGradient>
                  <linearGradient id="paint4_linear" x1="179.381" y1="49.2105" x2="177.951" y2="125.496" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint5_linear" x1="4203.05" y1="788.231" x2="4202.66" y2="607.39" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint6_linear" x1="15486" y1="792.275" x2="15485.9" y2="609.889" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint7_linear" x1="10474.2" y1="790.295" x2="10474" y2="607.946" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint8_linear" x1="6050.04" y1="828.907" x2="6049.73" y2="638.146" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint9_linear" x1="7498" y1="840.83" x2="7497.73" y2="647.76" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint10_linear" x1="7079.45" y1="920.153" x2="7079.06" y2="705.717" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint11_linear" x1="5752.68" y1="798.521" x2="5752.37" y2="617.678" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint12_linear" x1="13491.8" y1="871.842" x2="13491.6" y2="671.161" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint13_linear" x1="6951.31" y1="800.331" x2="6951.04" y2="607.262" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint14_linear" x1="4203.05" y1="761.252" x2="4202.66" y2="580.393" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint15_linear" x1="15486" y1="764.866" x2="15485.9" y2="582.479" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint16_linear" x1="10474.2" y1="762.922" x2="10474" y2="580.537" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint17_linear" x1="6050.04" y1="799.352" x2="6049.73" y2="608.572" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint18_linear" x1="7498" y1="810.66" x2="7497.73" y2="617.59" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint19_linear" x1="7079.45" y1="884.483" x2="7079.06" y2="670.047" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint20_linear" x1="5752.68" y1="771.52" x2="5752.37" y2="590.678" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint21_linear" x1="13491.8" y1="839.74" x2="13491.6" y2="639.039" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint22_linear" x1="6951.31" y1="770.173" x2="6951.04" y2="577.122" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint23_linear" x1="4203.05" y1="734.248" x2="4202.66" y2="553.389" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint24_linear" x1="15486" y1="737.467" x2="15485.9" y2="555.099" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint25_linear" x1="10474.2" y1="735.523" x2="10474" y2="553.138" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint26_linear" x1="6050.04" y1="769.785" x2="6049.73" y2="579.005" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint27_linear" x1="7498" y1="780.494" x2="7497.73" y2="587.424" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint28_linear" x1="7079.45" y1="848.777" x2="7079.06" y2="634.341" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint29_linear" x1="5752.68" y1="744.515" x2="5752.37" y2="563.656" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint30_linear" x1="13491.8" y1="807.586" x2="13491.6" y2="606.887" gradientUnits="userSpaceOnUse">
                      <stop stop-color="white" stop-opacity="0" />
                      <stop offset="0.99" stop-color="white" />
                  </linearGradient>
                  <linearGradient id="paint31_linear" x1="233.508" y1="186.716" x2="246.579" y2="186.716" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#E5C6D6" />
                      <stop offset="0.42" stop-color="#EAD4D0" />
                      <stop offset="1" stop-color="#F0E9CB" />
                  </linearGradient>
                  <linearGradient id="paint32_linear" x1="3587.67" y1="3957.21" x2="3803.33" y2="3957.21" gradientUnits="userSpaceOnUse">
                      <stop offset="0.9998" stop-color="#EAD4D0" />
                      <stop offset="0.9999" stop-color="#E5C6D6" />
                      <stop offset="1" stop-color="#F0E9CB" />
                  </linearGradient>
                  <linearGradient id="paint33_linear" x1="2128.31" y1="1610" x2="2174.68" y2="1610" gradientUnits="userSpaceOnUse">
                      <stop offset="0.42" stop-color="#EAD4D0" />
                      <stop offset="0.9999" stop-color="#E5C6D6" />
                      <stop offset="1" stop-color="#F0E9CB" />
                  </linearGradient>
                  <linearGradient id="paint34_linear" x1="1934.16" y1="1551.39" x2="1982.48" y2="1551.39" gradientUnits="userSpaceOnUse">
                      <stop offset="0.42" stop-color="#EAD4D0" />
                      <stop offset="0.9999" stop-color="#E5C6D6" />
                      <stop offset="1" stop-color="#F0E9CB" />
                  </linearGradient>
                  <linearGradient id="paint35_linear" x1="3950.19" y1="3089.71" x2="4155.19" y2="3089.71" gradientUnits="userSpaceOnUse">
                      <stop offset="0.42" stop-color="#EAD4D0" />
                      <stop offset="0.9999" stop-color="#E5C6D6" />
                      <stop offset="1" stop-color="#F0E9CB" />
                  </linearGradient>
                  <linearGradient id="paint36_linear" x1="193.656" y1="209.152" x2="234.404" y2="209.152" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#010101" stop-opacity="0" />
                      <stop offset="0.95" stop-color="#010101" />
                  </linearGradient>
                  <linearGradient id="paint37_linear" x1="8723.76" y1="7726.23" x2="11202.7" y2="7726.23" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#010101" stop-opacity="0" />
                      <stop offset="0.95" stop-color="#010101" />
                  </linearGradient>
                  <linearGradient id="paint38_linear" x1="5949.55" y1="2754.18" x2="5942.54" y2="3388.82" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#010101" stop-opacity="0" />
                      <stop offset="0.95" stop-color="#010101" />
                  </linearGradient>
                  <linearGradient id="paint39_linear" x1="5051.54" y1="5183.62" x2="5094.71" y2="4791.15" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#010101" stop-opacity="0" />
                      <stop offset="0.95" stop-color="#010101" />
                  </linearGradient>
                  <linearGradient id="paint40_linear" x1="19452" y1="5896.36" x2="19457.3" y2="6591.47" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#010101" stop-opacity="0" />
                      <stop offset="0.95" stop-color="#010101" />
                  </linearGradient>
              </defs>
          </svg>
      </div>
  </div>
  <div class="row p-4 d-flex justify-content-around cols">
    <% cardData.forEach(function(item, index){ %>
      <div class="col-12 col-lg-6">
        <div class="fade p-5 mb-4 d-flex row mx-0 bg-white border-radius-30">
          <div class="h-lg-140 text-start w-80 is-relative">
              <h3><%= item.title %></h3>
              <p><%= item.description %></p>
                <% for (let i = 0; i < item.tags.length; i ++) { %>
                  <span>#<%= item.tags[i] %></span>
                <% } %>
          </div>
          <div class="mt-4 d-flex justify-content-end">
            <% if (item.github === "") { %>
            <i class="d-none me-3 fa-align-right fab fa-github fa-2x"></i>
            <% } else { %>
                <a href="<%= item.github %>" target="_blank">
                    <i class="mud-pink me-3 fa-align-right fab fa-github fa-2x color-mud"></i>
                </a>
            <% } %>
            <% if (item.demo === "") { %>
                <a href="<%= item.demo %>" class="d-none btn btn-secondary border-radius-30 background-mud" target="_blank">Demo</a>
            <% } else { %>
                <a href="<%= item.demo %>" class="btn btn-secondary border-radius-30 background-mud" target="_blank">Demo</a>
            <% } %>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
<%- include ('partials/footer') %>
